<p id="notice"><%= notice %></p>

<p>
  <strong>Use this link:</strong>
  <%= @link_builder.build_link(@link_builder.commit, @link_builder.file) %>
</p>

<%= link_to 'Make a new link', new_link_builder_path %>
