<p id="notice"><%= notice %></p>

<p>
  <strong>Use these links in production:</strong>
</p>
<div> 
  <% @link_builder.build_link(@link_builder.commit).each do |link| %>
    <div><%= link %></div>
  <% end %>
</div>

<%= link_to 'Make a new link', new_link_builder_path %>
