<div class="show-view">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Use these links in production:</strong>
  </p>
  <div class='link-container'> 
    <% @link_builder.build_link(@link_builder.commit).each do |link| %>
      <div class='link'><%= link %></div>
    <% end %>
  </div>
  <script>
    document.querySelector('.link-container').addEventListener('click', async event => {
      let links = document.querySelectorAll('.link');
      links.forEach(element => {
        element.addEventListener('click', async event => {
        if (!navigator.clipboard) {
          // Clipboard API not available
          return;
        }

        const text = event.target.innerText;
        try {
          await navigator.clipboard.writeText(text);
          //event.target.textContent = 'Copied to clipboard'
        } catch (err) {
          console.error('Failed to copy!', err);
        }
        })
      });
    </script>

  <%= link_to 'Make a new link', new_link_builder_path %>
</div>
